<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltead8266c9bd9f7c8/64e7a41314f0616acbb3c568/Briar-Splash-abilities-rundown-article.jpg"
      cardTitle="Nova campeã do league of legends"
      cardDescription="Briar foi criada pela Rosa Negra, por meio da hemomancia..."
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="/DEV: MUDANÇA NO CRONOGRAMA DAS RANQUEADAS"
      photoCover="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt0cfea10deca29f0e/64e7e07cf1ac3dc86df8ff19/2023-Key-Art.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="NOVOS BOTS NO PBE (TESTE DE 2 SEMANAS)"
      photoCover="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt00b4a7f5e35e570d/64e7d81f37cf4671bd13cc82/Nunu_Bot_banner_opt.jpg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="VISÃO GERAL DAS MECÂNICAS DE NOVOS HORIZONTES"
      photoCover="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt9914f8ffeacdd687/64e7af0affe8ee4d7f3e7c61/ArticleBanner_1920x1080.jpg"
    >
    </app-small-card>
  </div>
</div>
